/*.slick-slide{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	overflow: hidden;*/
	/*padding: 10px;*/
	/*margin: 20px;*/

/*	border: 1px solid #ccc;
	object-fit: cover;
	object-position: center right;
}*/

@media only screen and (max-width: 1494px) {
	.clock ul li {
		font-size: 2.5rem !important;
	}

	.new-tap .full-name {
		font-size: 18px !important;
	}

	.new-tap .position {
		font-size: 12px !important;
	}

	.new-tap .tap-time {
		font-size: 36px;
	}
}

@media only screen and (max-width: 1345px) { 
	.clock ul li {
		font-size: 2rem !important;
	}

	.new-tap .full-name {
		font-size: 16px !important;
	}

	.new-tap .position {
		font-size: 11px !important;
	}

	.new-tap .tap-time {
		font-size: 24px;
	}

	.school-name {
		font-size: 1.2rem;
	}
}

@media only screen and (max-width: 1195px) {
	.clock ul li {
		font-size: 1.8rem !important;
	}

	.new-tap .full-name {
		font-size: 14px !important;
	}

	.new-tap .position {
		font-size: 10px !important;
	}

	.new-tap .tap-time {
		font-size: 22px;
	}

	.school-name {
		font-size: 1.1rem;
	}
} 